/node_modules
/public/storage
/public/hot
/public/css/*
!/public/css/bootstrap.min.css
!/public/css/custom.css
/public/mix-manifest.json
/public/exports/*
/public/js/*
!/public/js/laroute.css
/storage/*.key
/vendor/*
storage/nginx-logs/*
/.idea
Homestead.json
Homestead.yaml
/.env
/mysql
npm-debug.log
/reports/
.vscode
storage/mysql-data/
.DS_Store
storage/*
.ssh
public/build
/composer.lock