@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.table-action-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
  background-color: white;
}

/* Select2 in modals fix */
.select-in-modal+.select2-container {
  width: 100% !important;
  padding: 0;
  z-index:10000;
}

.select2-container--open {
  z-index:10000;
}

.img-responsive-50 {
  margin: 0 auto;
  max-width: 50%;
}

@media (max-width: 767px) {
  // Align text to center.
  .text-xs-center {
    text-align: center;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.label-right {
  text-align: right;
  margin-top: 7px;
}

.img-wrap {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: white;
  color: red;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  font-size: 10px;
  padding: 10px;
  text-align: center;
}

.overlay > span {
  cursor: pointer;
}

.contact-wrap {
  position: relative;
  border: 0;

  img {
    margin: 0 auto;
  }

  .contact-delete {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.align-middle {
  vertical-align: middle!important;
}